
/* HEADER Y NAVBAR */





#header {
    padding: 20px;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fcfcfc;
    border-radius: 50px;
    padding: 5px 40px 5px 60px;
    box-shadow: 0 5px 10px rgba(7, 7, 7, 0.39);
  }
  
  .nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
  }

  .header-link {
    color: #646363;
    text-decoration: none;
    font-weight: bold;
    padding: 0px 30px;
    transition: all 0.3s ease;
    font-size: 11px;
    align-items: start;
  }
  .header-link:hover {
    font-weight: bold;
    opacity: 0.8;
    color: #910606;
  }
  .nav-link {
    color: rgb(94, 94, 94);
    text-decoration: none;
    font-weight: bold;
    padding: 10px 12px;
    transition: all 0.3s ease;
    font-size: 15px;
    
  }

  
  .nav-link:hover {
    font-weight: bold;
    opacity: 0.8;
    border-radius: 10px;
    background-color: #d6b007;
    color: #272727;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);    
  }
  .nav-link-home {
    color: #353535;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 12px;
    transition: all 0.6s ease;
    font-size: 15px;
    
  }
  
  .nav-link-home {
    font-weight: bold;
    font-size:x-small;
    color: #c4a600; 
    font-size: 15px;
  }
  
  .nav-link-home i {
    margin-right: 6px;
  }
  .nav-link-home:hover {
    font-weight: bold;
    opacity: 0.8;
    color: #ceaf00;
  }
  .header-right {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #fcfcfc;
    border-radius: 50px;
    padding: 0px 40px 20px 0px;

  }
  
  
  .nav-circles {
    display: flex;
    gap: 10px;
  }
  
  .circle {
    width: 30px;
    height: 30px;
    background-color: rgb(253, 250, 250);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .circle:hover {
    background-color: #d6b007;
  }
  










  /* MAIN */
  #main {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    min-height: 70vh;
  }
  
  .welcome-message {
    text-align: center;
    max-width: 800px;
    margin-top: 50px;
  }
  
  .welcome-message h1 {
    font-size: 18px;
    color: #9e9e9e;
    font-weight: normal;
  }
  
  .options-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 16px;
  }
  
  .options-cards {
    display: flex;
    gap: 20px;
  }
  
  .option-card {
    height: 200px;
    width: 125px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #d1d0d0;
    border-radius: 5px;
    padding: 15px 30px;
    text-decoration: none;
    color: #666;
    font-size: 15px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 150px;
  }
  

  
  .option-card:hover {
    
    background-color: rgb(228, 189, 18);
    color: #272727;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .arrow-btn {
    background-color: #302d20;
    border: none;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .arrow-btn:hover {
    background-color: #ebc107;
  }
  


/* ----------------------------------PAGINA "VENTAS"---------------------------------------- */

/* FILTRO DE TABLA */
.container-form {
  margin-top: 50px;
}
.datos{
  display: flex;
  gap: 20px;
  justify-content: start;
  align-items: start;
  align-content: center;
  flex-direction: row;
}

/* BUSCADOR */
.form-item {
  width: 550px;
  height: 37px;
}
.form-item.a {
  padding: 12px;
  border-radius: 12px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
}
.form-item.a:hover,
.form-item.a:focus {
  box-shadow: 0 0 0 2px #dadada;
  border: 2px solid grey;
}



/* MENÚ */
.form-item.b,
.form-item.c {
  width: 180px;
  height: 38px;
  font-size: 11px;
}
.form-item.c {
  margin-right: 90px;
}

.form-item.b,
.form-item.c {
  padding: 12px;
  border-radius: 12px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
}
/* BOTONES */
.btn.btn-primary,
.btn.btn-success {
  width: 110px;
  height: 37px;
}

.btn.btn-success {
  margin-left: 0px;
}






/* TABLAS */




/* ----------------------------------PAGINA "ARTÍCULOS"---------------------------------------- */

/* FILTRO DE TABLA */



#filtro-tabla {
  width: 1420px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.p-2.flex-art {
  margin-right: 110px;
}

.filtros.b {
  height: 37px;
  width: 250px;
}
.filtros.a{
  width: 550px;
  height: 37px;
}
.filtros.a,
.filtros.b {
  padding: 12px;
  border-radius: 12px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
}
.filtros.a:hover,
.filtros.a:focus,
.filtros.b:hover,
.filtros.b:focus {
  box-shadow: 0 0 0 2px #dadada;
  border: 2px solid grey;
}



/* BOTONES */
.btn.btn-success.code {
  color:#272727;
  background-color: #fdfdfd;
  border-color: #d6b007;
}
.btn.btn-success.code:hover{
  color: #272727;
  background-color: #d6b007;
  border-color: #272727;
}
.btn.btn-primary.a,
.btn.btn-success.a{
  width: 110px;
  height: 37px;
}

.btn.btn-success.a {
  margin-left: 0px;
}


.btn.btn-link {
  color: #38485c;
}
.btn.btn-link:hover {
  font-size: bold;
  color: rgb(8, 135, 253);
}



/* MENÚ */
.menu.a,
.menu.b {
  width: 180px;
  height: 38px;
  font-size: 13px;
}
.menu.b {
  margin-right: 140px;
}

.menu.a,
.menu.b {
  padding: 12px;
  border-radius: 12px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
}



/* ----------------------------------PAGINA "NUEVA VENTA"---------------------------------------- */


.contenedor-filtro {  
  display: flex;
  justify-self: start;
  margin-right: 200px;
  margin-left: 60px;

    
}

.fila2 {  
  display: flex;
  gap: 25px;
  
}

.articulos {
  justify-self: start;
  
}

.cantidad {
  justify-self: start;
  align-self:stretch;
  margin-right: 65px;
}

.cantidad {
  width: 360px;
  height: 37px;
}
.form-item.cantidad {
  padding: 12px;
  border-radius: 12px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
}
.form-item.cantidad:hover,
.form-item.cantidad:focus {
  box-shadow: 0 0 0 2px #dadada;
  border: 2px solid grey;
}

.boton-agregar {
  margin-left: 25px;
}


/* BOTONES */


.zona-botones { 
  display: block !important;
  width: 100%; 
  
}


.zona-botones .button-action {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center;
  gap: 60px;
  padding: 10px;
  width:fit-content;                  
  margin:  0px 0px 20px 170px;
}

.btn.btn-light.b {
  margin-right: 60px;
}

.btn.btn-light.a {
  background-color: #09b144;
  font-size: bold;
  color: #ffffff;
}

.btn.btn-light.b {
  background-color: #0981b1;
  font-size: bold;
  color: #ffffff;
}



/*------------------------------------PAGINA "LOGIN"-----------------------------------------*/






/* Estilos del contenedor de login */
.login-container {
  display: flex;
  justify-content: end;
  height: 100vh;
  padding: 40px;
  margin-right: 100px;
}

.login-card {
  background-color: rgb(255, 253, 253);
  border-radius: 25px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 600px;
  max-width: 400px;
  padding: 30px;
  transition: transform 0.3s ease;
  
}

.login-card:hover {
  transform: scale(1.05);
border: 1px solid rgb(151, 149, 136);
}

.login-header {
  text-align: center;
  margin-bottom: 30px;
  background: transparent;
}

.login-header i {
  font-size: 50px;
  color: #3498db;
  margin-bottom: 10px;
}

.login-header h1 {
  font-size: 24px;
  color: #333;
}

/* Estilos del formulario */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  position: relative;
  color: white;
  

}

.form-group label {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
  
}

.form-group input {
  width: 100%;
  padding: 12px 12px 12px 45px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s;
  background-color: rgb(231, 231, 231);
  
}

.form-group input:focus {
  outline: none;
  border-color: #3498db;
}

.remember-me {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.login-button {
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.tex-button{
  color: white;
  padding: 4px;
}

.login-button:hover {
  background-color: black;
color: white;
}

.login-footer {
  margin-top: 20px;
  text-align: center;
}

.forgot-password {
  color: #3498db;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}

.forgot-password:hover {
  color: #2980b9;
  text-decoration: underline;
}


.registro-link {
  color: #3498db;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}

.registro-link:hover {
  color: #2980b9;
  text-decoration: underline;
}
  /* LOGO */
.logo-conteiner {
  width: 50px;
  height: 50px;
  padding: 50px;
  display: flex;
  border-radius: 50px;
  margin-top:30px;
  margin-left:  auto;
  margin-right: auto;
  background-color: #da9708;
  align-items: center;
  gap: 10px;
  justify-content: center;
  
}
.logo-vlo {
  
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 32px
}


/* Media queries para responsividad */
@media (max-width: 480px) {
    .login-card {
      padding: 20px;
    }
  
    .login-header i {
      font-size: 40px;
    }
  
    .login-header h1 {
      font-size: 20px;
    }

    .logo-conteiner{
      padding: 25px;
    }

    .logo-vlo{
      font-size: 18px;
    }
}





/* FOOTER */
.footer {
    background-color: #ffffff;
    padding: 48px 16px;
    margin-top: auto;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.253);
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  




  /* Grid del Footer */
  .footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    margin-bottom: 48px;
    align-items: start;
  }




  
  /* Estilos para las columnas */
  .footer-column {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 24px;
    
  }
  
  .logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }
  
  .company-name {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .map-container {
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
   
  }

  .footer-heading {
    font-size: 19px;
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
    padding-top:  5px;
  }
  
  .footer-links {
    list-style: none;
    padding-left: 0;
  }
  
  .footer-links li {
    margin-bottom: 10px;
    display: flex;
    align-items: start;
  }
  
  .footer-links a {
    color: #666;
    text-decoration: none;
    transition: color 0.3s ease;
    display: flex;
    align-items: start;
    gap: 8px;
  }
  
  .footer-links a:hover {
    font-weight: bold;
    color: #ad0505;
  }
  
  /* Sección inferior del footer */
  .footer-bottom {
    padding-top: 32px;
    border-top: 1px solid #e5e5e5;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  
  .copyright {
    font-size: 14px;
    color: #666;
  }
  
  .social-icons {
    display: flex;
    gap: 16px;
  }
  
  .social-icons a {
    color: #666;
    font-size: 20px;
    transition: color 0.3s ease;
  }
  
  .social-icons a:hover {
    color: #333;
  }
  
  .fa-facebook-f:hover {
    color: #1877f2;
  }
  
  .fa-linkedin-in:hover {
    color: #0a66c2;
  }
  
  .fa-youtube:hover {
    color: #ff0000;
  }
  
  .fa-spotify:hover {
    color: #1db954;
  }
  





/* ------------------------------------------------------------------------------------------------------- */



/* Media queries para responsividad */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    border-radius: 15px;
    padding: 15px;
  }
  
  .nav-links {
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    gap: 10px;
  }

  .nav-right {
    flex-direction: column;
    gap: 10px;
  }
  
  .form--articulos_card {
    flex-direction: column;
  }
  .options-cards {
    flex-wrap: wrap;
    justify-content: center;
  }

  .welcome-message h1 {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .options-container {
    flex-direction: column;
    align-items: center;
  }

  .arrow-btn.left {
    flex-direction: column;
    gap: 10px;
    order: 0;
  }

  .options-cards {
    order: 1;
  }

  .arrow-btn.right {
    order: 3;
  }
}






  
  /* Media queries para hacer el footer responsivo */
  @media (min-width: 768px) {
    .footer-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .footer-bottom {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  
  @media (min-width: 1024px) {
    .footer-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }






@media (max-width: 768px) {
  .navbar {
      flex-direction: column;
      gap: 15px;
  }
  
  .nav-links {
      flex-wrap: wrap;
      justify-content: center;
  }
  
  .nav-right {
      width: 100%;
      justify-content: space-between;
  }
  
  
  .detalle-footer {
      flex-direction: column;
      gap: 20px;
  }
}

@media (max-width: 576px) {
  .registro-de-clientes {
      grid-template-columns: 1fr;
  }
  
  .buscador-clientes {
      grid-column: span 1;
  }
  
  .header-cell:nth-child(n+3), .table-cell:nth-child(n+3) {
      display: none;
  }
  
  .footer-grid {
      grid-template-columns: 1fr;
  }
  
  .footer-bottom {
      flex-direction: column;
      gap: 15px;
  }
}
