



/* Anidamiento */
/* ----------------------------------PAGINA "ARTÍCULOS"---------------------------------------- */

#main-articulos {
  width: 1511px;
  margin:0px;
  justify-content: center;
  padding-top: 80px;
}


.pagination {
  justify-content: center;
  height: 80px;
  margin: 0px 0px 100px 90px;
    
}
.page-link {
  background-color: rgb(212, 212, 212);
}





.articulos {
  position: relative;
  Z-index: -1;
  padding: 10px ;
  margin: 0px 250px 0px 300px ;
  justify-content: center;
  width: 1011px;
  height: 688px;
}

.articulos .filtro-de-articulos { /*------------contenedor con color*/
  position: absolute;
  width: 1004px;
  height: 137px;
  top: 0;
  left: 0;
  background-color: #5555552b; 
  box-shadow: 0 5px 10px rgba(122, 122, 122, 0.596);
  border-radius: 24px;
  border: 1px solid;
  border-color: #c7c7c7;
}

.articulos .contenedor-de {
  position: relative;
  width: 914px;
  height: 94px;
  top: 22px;
  left: 52px;
}

.articulos .campo-de-busqueda {
  position: absolute;
  width: 911px;
  height: 28px;
  top: 0;
  left: 3px;
}

.articulos .buscador-producto {
  flex-direction: column;
  width: 560px;
  align-items: flex-start;
  gap: 10px;
  padding: 4px 34px;
  left: 0;
  display: flex;
  position: absolute;
  top: 0;
  background-color: #ffffff;
  border-radius: 8px;
}

.articulos .icono-texto {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 20px;
  border-radius: 8px;
}

.articulos .icono {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2px;
  left: 0;
  border-radius: 8px;
}

.articulos .search {
  position: relative;
  width: 16px;
  height: 16px;
}

.articulos .texto {
  display: flex;
  flex-direction: column;
  width: 399px;
  height: 20px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 20px;
  border-radius: 8px;
}

.articulos .text-wrapper {
  font-family: var(--14-regular-font-family);
  font-weight: var(--14-regular-font-weight);
  color: #1c1c1c;
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-size: var(--14-regular-font-size);
  letter-spacing: var(--14-regular-letter-spacing);
  line-height: var(--14-regular-line-height);
  font-style: var(--14-regular-font-style);
}

.articulos .buscador-codigo {
  flex-wrap: wrap;
  width: 192px;
  align-items: center;
  gap: 8px;
  padding: 4px 2px;
  left: 707px;
  display: flex;
  position: absolute;
  top: 0;
  background-color: #ffffff;
  border-radius: 8px;
}

.articulos .icon-text {
  justify-content: center;
  flex: 1;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
  position: relative;
  border-radius: 8px;
}

.articulos .icon-set {
  display: inline-flex;
  align-items: center;
  flex: 0 0 auto;
  justify-content: center;
  position: relative;
  border-radius: 8px;
}

.articulos .text {
  display: flex;
  flex-direction: column;
  width: 69px;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 8px;
}

.articulos .div {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-size: 13px;
  line-height: 20px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400px;
  color: #1c1c1c;
  letter-spacing: 0;
}

.articulos .contenedor-filtro {
  position: absolute;
  width: 911px;
  height: 28px;
  top: 66px;
  left: 3px;
}

.articulos .menus {
  position: absolute;
  width: 573px;
  height: 28px;
  top: 0;
  left: 0;
}

.articulos .menu-filtro {
  display: flex;
  width: 127px;
  align-items: center;
  gap: 22px;
  padding: 2px 14px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 8px;
}

.articulos .div-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
  border-radius: 8px;
}

.articulos .text-wrapper-2 {
  position: relative;
  width: 49px;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #1c1c1c;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
}

.articulos .arrow-line-down-wrapper {
  display: flex;
  flex-direction: column;
  width: 31px;
  align-items: flex-end;
  gap: 4px;
  margin-right: -3.00px;
  justify-content: center;
  position: relative;
  border-radius: 8px;
  height: 20px;
}

.articulos .arrow-line-down {
  position: relative;
  width: 20px;
  height: 20px;
}

.articulos .menu-filtro-2 {
  left: 298px;
  display: flex;
  width: 127px;
  align-items: center;
  gap: 22px;
  padding: 2px 14px;
  position: absolute;
  top: 0;
  background-color: #ffffff;
  border-radius: 8px;
}

.articulos .menu-filtro-3 {
  left: 149px;
  display: flex;
  width: 127px;
  align-items: center;
  gap: 22px;
  padding: 2px 14px;
  position: absolute;
  top: 0;
  background-color: #ffffff;
  border-radius: 8px;
}

.articulos .menu-filtro-4 {
  left: 447px;
  display: flex;
  width: 127px;
  align-items: center;
  gap: 22px;
  padding: 2px 14px;
  position: absolute;
  top: 0;
  background-color: #ffffff;
  border-radius: 8px;
}

.articulos .bton-accion {
  position: absolute;
  width: 270px;
  height: 28px;
  top: 0;
  left: 628px;
}

.articulos .bton-buscar {
  display: flex;
  flex-wrap: wrap;
  width: 82px;
  align-items: center;
  gap: 8px;
  padding: 4px 8px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0d99ff;
  border-radius: 8px;
}

.articulos .icon-text-2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
  flex: 1;
  flex-grow: 1;
  position: relative;
  border-radius: 8px;
}

.articulos .text-2 {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  flex: 1;
  flex-grow: 1;
  border-radius: 8px;
}

.articulos .text-wrapper-3 {
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
}

.articulos .bton-exportar {
  display: flex;
  flex-wrap: wrap;
  width: 82px;
  align-items: center;
  gap: 8px;
  padding: 4px 8px;
  position: absolute;
  top: 0;
  left: 94px;
  background-color: #1ba920;
  border-radius: 8px;
}

.articulos .bton-importar {
  display: flex;
  flex-wrap: wrap;
  width: 82px;
  align-items: center;
  gap: 8px;
  padding: 4px 8px;
  position: absolute;
  top: 0;
  left: 188px;
  background-color: #dabd1d;
  border-radius: 8px;
}

.articulos .destalle-filtro {
  position: absolute;
  width: 570px;
  height: 19px;
  top: 41px;
  left: 6px;
}

.articulos .filter-menu {
  position: absolute;
  width: 57px;
  height: 19px;
  top: 1px;
  left: 0;
}

.articulos .text-3 {
  position: relative;
  height: 19px;
  top: 1px;
  border-radius: 7.57px;
  display: var(--show-text-show-text);
}

.articulos .text-wrapper-4 {
  top: -1px;
  left: 8px;
  position: absolute;
  height: 19px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--themes-black-100);
  font-size: 13.2px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18.8px;
  white-space: nowrap;
}

.articulos .filter-menu-2 {
  left: 302px;
  position: absolute;
  width: 57px;
  height: 19px;
  top: 1px;
}

.articulos .filter-menu-3 {
  left: 151px;
  position: absolute;
  width: 57px;
  height: 19px;
  top: 1px;
}

.articulos .text-wrapper-5 {
  top: 0;
  left: 7px;
  position: absolute;
  height: 19px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--themes-black-100);
  font-size: 13.2px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18.8px;
  white-space: nowrap;
}

.articulos .filter-menu-4 {
  left: 453px;
  position: absolute;
  width: 57px;
  height: 19px;
  top: 1px;
}

.articulos .bton-nuevo {
  position: absolute;
  width: 1004px;
  height: 50px;
  top: 154px;
  left: 0;
}

.articulos .bton {
  position: relative;
  width: 265px;
  height: 24px;
  top: 26px;
  left: 685px;
}

.articulos .bton-line {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
}

.articulos .text-wrapper-6 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #3a3a3a;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  text-decoration: underline;
}

.articulos .nuevo-sub-art-culo-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 127px;
  border-radius: 8px;
}

.articulos .detalle-de-articulos { /*------------cuadro contenedor con color*/
  position: absolute;
  width: 1004px;
  height: 424px;
  top: 210px;
  left: 0;
  background-color: #dddddd57;
  border-radius: 24px;
}

.articulos .campos-de-detalles {
  position: relative;
  width: 923px;
  height: 576px;
  top: 12px;
  left: 34px;
}

.articulos .columna-uno {
  width: 63px;
  left: 23px;
  position: absolute;
  height: 576px;
  top: 0;
}

.articulos .div-2 {
  width: 63px;
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 537px;
  align-items: flex-start;
  gap: 8px;
  top: 39px;
}

.articulos .search-2 {
  display: flex;
  flex-wrap: wrap;
  height: 20px;
  align-items: center;
  gap: 8px;
  padding: 4px 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff;
  border-radius: 8px;
}

.articulos .icon-text-3 {
  width: 46px;
  margin-top: -4.00px;
  margin-bottom: -4.00px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
  position: relative;
  border-radius: 8px;
}

.articulos .text-4 {
  display: flex;
  flex-direction: column;
  width: 46px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  border-radius: 8px;
}

.articulos .div-3 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #1c1c1c;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
}

.articulos .detalle-g {
  width: 57px;
  left: 3px;
  position: absolute;
  height: 30px;
  top: 0;
}

.articulos .text-5 {
  position: relative;
  height: 19px;
  top: 5px;
  border-radius: 7.57px;
  display: var(--show-text-show-text);
}

.articulos .text-wrapper-7 {
  position: absolute;
  height: 19px;
  top: 0;
  left: 4px;
  font-size: 13.2px;
  text-align: center;
  line-height: 18.8px;
  white-space: nowrap;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--themes-black-100);
  letter-spacing: 0;
}

.articulos .columna-dos {
  width: 138px;
  left: 110px;
  position: absolute;
  height: 576px;
  top: 0;
}

.articulos .campos-columna-f {
  width: 138px;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 537px;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
  top: 39px;
}

.articulos .icon-text-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 138px;
  height: 20px;
  align-items: center;
  gap: 8px;
  padding: 4px 8px;
  position: relative;
  background-color: #ffffff;
  border-radius: 8px;
}

.articulos .icon-text-4 {
  width: 115px;
  margin-top: -4.00px;
  margin-bottom: -4.00px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
  position: relative;
  border-radius: 8px;
}

.articulos .text-6 {
  display: flex;
  flex-direction: column;
  width: 115px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  border-radius: 8px;
}

.articulos .text-wrapper-8 {
  width: 115px;
  position: relative;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #1c1c1c;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
}

.articulos .icon-text-5 {
  width: 122px;
  margin-top: -4.00px;
  margin-bottom: -4.00px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
  position: relative;
  border-radius: 8px;
}

.articulos .p {
  width: 122px;
  margin-right: -7.00px;
  position: relative;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #1c1c1c;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
}

.articulos .detalle-f {
  width: 122px;
  left: 4px;
  position: absolute;
  height: 30px;
  top: 0;
}

.articulos .text-wrapper-9 {
  position: absolute;
  width: 122px;
  height: 19px;
  top: 0;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--themes-black-100);
  font-size: 13.2px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18.8px;
}

.articulos .columna-tres {
  width: 63px;
  left: 272px;
  position: absolute;
  height: 576px;
  top: 0;
}

.articulos .icon-text-6 {
  width: 49px;
  margin-top: -4.00px;
  margin-bottom: -4.00px;
  margin-right: -2.00px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
  position: relative;
  border-radius: 8px;
}

.articulos .icon-set-2 {
  width: 6px;
  height: 20px;
  position: relative;
  border-radius: 8px;
}

.articulos .icon-text-7 {
  width: 48px;
  margin-top: -4.00px;
  margin-bottom: -4.00px;
  margin-right: -1.00px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
  position: relative;
  border-radius: 8px;
}

.articulos .detalle-e {
  width: 63px;
  left: 0;
  position: absolute;
  height: 30px;
  top: 0;
}

.articulos .text-7 {
  position: relative;
  width: 53px;
  height: 19px;
  top: 5px;
  left: 5px;
  border-radius: 7.57px;
  display: var(--show-text-show-text);
}

.articulos .text-wrapper-10 {
  position: absolute;
  width: 53px;
  height: 19px;
  top: 0;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--themes-black-100);
  font-size: 13.2px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18.8px;
}

.articulos .columna-cuatro {
  width: 95px;
  left: 359px;
  position: absolute;
  height: 576px;
  top: 0;
}

.articulos .div-4 {
  width: 95px;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 537px;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
  top: 39px;
}

.articulos .icon-text-8 {
  width: 79px;
  margin-top: -4.00px;
  margin-bottom: -4.00px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
  position: relative;
  border-radius: 8px;
}

.articulos .span {
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #1c1c1c;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 20px;
}

.articulos .detalle-d {
  width: 81px;
  left: 7px;
  position: absolute;
  height: 30px;
  top: 0;
}

.articulos .text-wrapper-11 {
  position: absolute;
  width: 81px;
  height: 19px;
  top: 0;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--themes-black-100);
  font-size: 13.2px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18.8px;
}

.articulos .columna-cinco {
  width: 81px;
  left: 478px;
  position: absolute;
  height: 576px;
  top: 0;
}

.articulos .campos-columna-c {
  width: 80px;
  left: 1px;
  display: flex;
  flex-direction: column;
  height: 537px;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
  top: 39px;
}

.articulos .icon-text-9 {
  width: 79px;
  margin-top: -4.00px;
  margin-bottom: -4.00px;
  margin-right: -15.00px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
  position: relative;
  border-radius: 8px;
}

.articulos .detalle-c {
  width: 81px;
  left: 0;
  position: absolute;
  height: 30px;
  top: 0;
}

.articulos .columna-seis {
  width: 95px;
  left: 583px;
  position: absolute;
  height: 576px;
  top: 0;
}

.articulos .detalle-b {
  width: 89px;
  left: 3px;
  position: absolute;
  height: 30px;
  top: 0;
}

.articulos .text-wrapper-12 {
  position: absolute;
  height: 19px;
  top: 0;
  left: -5px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--themes-black-100);
  font-size: 13.2px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18.8px;
  white-space: nowrap;
}

.articulos .columna-siete {
  width: 95px;
  left: 702px;
  position: absolute;
  height: 576px;
  top: 0;
}

.articulos .detalle-a {
  width: 70px;
  left: 12px;
  position: absolute;
  height: 30px;
  top: 0;
}

.articulos .frame {
  position: relative;
  width: 53px;
  height: 19px;
  top: 6px;
  left: 8px;
}

.articulos .text-wrapper-13 {
  position: absolute;
  width: 53px;
  height: 19px;
  top: -1px;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--themes-black-100);
  font-size: 13.2px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18.8px;
}

.articulos .columna-ocho {
  width: 39px;
  left: 821px;
  position: absolute;
  height: 576px;
  top: 0;
}

.articulos .div-5 {
  width: 25px;
  position: relative;
  left: 7px;
  display: flex;
  flex-direction: column;
  height: 537px;
  align-items: flex-start;
  gap: 8px;
  top: 39px;
}

.articulos .div-6 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  gap: 8px;
}

.articulos .columna-nueve {
  width: 39px;
  left: 884px;
  position: absolute;
  height: 576px;
  top: 0;
}














  
  

