
/* colores de la marca */
$magna-negro:#1d1d1d;
$magna-amarillo:#da9708;
$magna-rojo:#ce1c1c;
$background: #d6d6d6;


/* Anidamiento */
/*------------------------------------PAGINA "LOGIN"-----------------------------------------*/

/* ------------------------------------------------------------------------------------------------------- */





/* Estilos del contenedor de login */
.login-container {
    display: flex;
    justify-content: end;
    height: 100vh;
    padding: 40px;
    margin-right: 100px;
  }
  
  .login-card {
    background-color: rgb(255, 253, 253);
    border-radius: 25px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 600px;
    max-width: 400px;
    padding: 30px;
    transition: transform 0.3s ease;
    
  }
  
  .login-card:hover {
    transform: scale(1.05);
  border: 1px solid rgb(151, 149, 136);
  }
  
  .login-header {
    text-align: center;
    margin-bottom: 30px;
    background: transparent;
  }
  
  .login-header i {
    font-size: 50px;
    color: #3498db;
    margin-bottom: 10px;
  }
  
  .login-header h1 {
    font-size: 24px;
    color: #333;
  }
  
  /* Estilos del formulario */
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-group {
    position: relative;
    color: white;
    
  
  }
  
  .form-group label {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
    
  }
  
  .form-group input {
    width: 100%;
    padding: 12px 12px 12px 45px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
    background-color: rgb(231, 231, 231);
    
  }
  
  .form-group input:focus {
    outline: none;
    border-color: #3498db;
  }
  
  .remember-me {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
  }
  
  .login-button {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .tex-button{
    color: white;
    padding: 4px;
  }
  
  .login-button:hover {
    background-color: black;
  color: white;
  }
  
  .login-footer {
    margin-top: 20px;
    text-align: center;
  }
  
  .forgot-password {
    color: #3498db;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
  }
  
  .forgot-password:hover {
    color: #2980b9;
    text-decoration: underline;
  }
  
  
  .registro-link {
    color: #3498db;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
  }
  
  .registro-link:hover {
    color: #2980b9;
    text-decoration: underline;
  }
    /* LOGO */
  .logo-conteiner {
    width: 50px;
    height: 50px;
    padding: 50px;
    display: flex;
    border-radius: 50px;
    margin-top:30px;
    margin-left:  auto;
    margin-right: auto;
    background-color: $magna-amarillo;
    align-items: center;
    gap: 10px;
    justify-content: center;
    
  }
  .logo-vlo {
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px
  }
  
  
  /* Media queries para responsividad */
  @media (max-width: 480px) {
      .login-card {
        padding: 20px;
      }
    
      .login-header i {
        font-size: 40px;
      }
    
      .login-header h1 {
        font-size: 20px;
      }
  
      .logo-conteiner{
        padding: 25px;
      }
  
      .logo-vlo{
        font-size: 18px;
      }
  }